:root {
  --bg-primary: #050816;
  --bg-secondary: #111827;

  --primary: #4f46e5;
  --secondary: #06b6d4;
  --accent: #00f5ff;

  --text-primary: #ffffff;
  --text-secondary: #94a3b8;

  --card: rgba(255,255,255,.05);

  --radius: 16px;

  --transition: .3s ease;
}