.workspace {

  width: 100%;
  height: 700px;
  position: relative;

}

.scene-canvas {

  width: 100%;
  height: 100%;
  display: block;
  cursor: grab;

}

.scene-canvas:active {

  cursor: grabbing;

}